/* general container */
.big-container{
    background: linear-gradient(0deg, rgb(219, 219, 210) 80%, rgb(0, 150, 136) 80%);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#box{
    width: 80%;
    height: 90%;
    background-color: white;
}

nav{
    height: 3.5rem;
    background-color: #eaeaea;
}

/* avatars and icons */

.avatar{
    height: 2.8rem;   
}

.avatar img{
    height: 100%;
    border-radius: 50%;
}

.fa-solid{
    padding-right: 0.8rem;
    color: #b1b1b1;
    font-size: 1.2rem;
}

.small-text{
    font-size: 0.7rem;
    color: #b1b1b1;
}

/* box-left */

#avviso-notifiche{
    background-color: #8edafc;
}

#bell{
    height: 3rem;
    width: 3rem;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 50%;
    margin-left: 1rem;
}

.fa-bell-slash{
    color: #8edafc;
    padding-right: 0;
}

#avviso-notifiche .texts{
    font-size: 0.8rem;
}

.search .fa-magnifying-glass{
    padding: 0 1rem;
}

#contatti{
    height: 69%;
    overflow-y: scroll;
}

.contatto:hover{
    cursor: pointer;
    background-color: #eaeaea;
}

/* box-right */

#right-box{
    background-image: url('../img/mine.jpg');
    position: relative;
}

#messages-box{
    height: 80%;
    overflow-y: scroll;
}

.message{
    width: 38%;
    margin: 1rem 0;
}

.sent-message{
    background-color: #d5f9ba; 
    margin-left: 60%;
}

.received-message{
    background-color: white;
}

#new-text{
    background-color: #eaeaea;
    height: 10%;
}

#new-text .form-control{
    height: 70%;
    width: 80%;
}

#new-text i{
    padding: 0 2rem;
    font-size: 1.3rem;
    color: gray;
}


.none{
    display: none;
}
